<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="wrap">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="../images/logo.png" alt="logo"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">BLOG</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT
                              </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section class="section section__head">
        <div class="wrap">
            <h1 class="header__h1">blog</h1>
        </div>
    </section>
    <section class="main">
        <div class="wrap">
            <div class="posts">
                <div class="post-section" id="post-section">
                </div>
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <aside class="main-aside">
                <div class="aside__search">
                    <label>search</label>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your keyword" id="aside-search">
                        <button type="submit" class="input-box__button" id="searchBtn"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="populars">
                    <h3 class="aside__title">Populars</h3>
                    <ul class="populars__list">
                        <li class="popular__item">
                            <button class="popular__button" id="tag" onclick="onTagButtonClick('management')">management</button>
                        </li>
                        <li class="popular__item">
                            <button class="popular__button" id="tag" onclick="onTagButtonClick('seo')">seo</button>
                        </li>
                        <li class="popular__item">
                            <button class="popular__button" id="tag" onclick="onTagButtonClick('advisory board')">advisory board</button>
                        </li>
                        <li class="popular__item">
                            <button class="popular__button" id="tag" onclick="onTagButtonClick('soft skills')">soft skills</button>
                        </li>
                        <li class="popular__item">
                            <button class="popular__button" id="tag" onclick="onTagButtonClick('blogging')">blogging</button>
                        </li>
                        <li class="popular__item">
                            <button class="popular__button" id="tag" onclick="onTagButtonClick('copywriting')">copywriting</button>
                        </li>
                    </ul>
                </div>
                <div class="recent-posts">
                    <h3 class="aside__title">Recent Posts</h3>
                    <div class="recent__post">
                        <h3 class="post__title">Lorem ipsum</h3>
                        <div class="recent-post__content">
                            <img src="../images/4.jpg" alt="image" class="recent-post__image">
                            <p class="recent-post__text">Ut enim ad minim veniam, i sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure</p>
                        </div>
                    </div>
                    <div class="recent__post">
                        <h3 class="post__title">Lorem ipsum</h3>
                        <div class="recent-post__content">
                            <img src="../images/6.jpg" alt="image" class="recent-post__image">
                            <p class="recent-post__text">Ut enim ad minim veniam, i sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure</p>
                        </div>
                    </div>
                    <div class="recent__post">
                        <h3 class="post__title">Lorem ipsum</h3>
                        <div class="recent-post__content">
                            <img src="../images/2.jpg" alt="image" class="recent-post__image">
                            <p class="recent-post__text">Ut enim ad minim veniam, i sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure</p>
                        </div>
                    </div>
                    <div class="recent__post">
                        <h3 class="post__title">Lorem ipsum</h3>
                        <div class="recent-post__content">
                            <img src="../images/6.jpg" alt="image" class="recent-post__image">
                            <p class="recent-post__text">Ut enim ad minim veniam, i sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure</p>
                        </div>
                    </div>
                    <div class="recent__post">
                        <h3 class="post__title">Lorem ipsum</h3>
                        <div class="recent-post__content">
                            <img src="../images/4.jpg" alt="image" class="recent-post__image">
                            <p class="recent-post__text">Ut enim ad minim veniam, i sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure</p>
                        </div>
                    </div>

                </div>
                <div class="aside-categories">
                    <h3 class="aside__title">Categories</h3>
                    <ul class="aside-categories__list">
                        <li class="aside-categories__item">
                            <a href="#" class="aside-categories__link">The Lorem Ipsum (16)</a>
                        </li>
                        <li class="aside-categories__item">
                            <a href="#" class="aside-categories__link">The Lorem Ipsum (8)</a>
                        </li>
                        <li class="aside-categories__item">
                            <a href="#" class="aside-categories__link">The Lorem Ipsum</a>
                        </li>
                        <li class="aside-categories__item">
                            <a href="#" class="aside-categories__link">The Lorem Ipsum</a>
                        </li>
                        <li class="aside-categories__item">
                            <a href="#" class="aside-categories__link">The Lorem Ipsum</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <!-- wrap end  -->
    </section>
    <section class="contact">
        <div class="wrap">
            <p class="contact__text">Need help with your PR? We build brand reputation and offer real solutions to business challenges, and do whatever it takes to get the results you deserve. We’d love to hear from you.</p>
            <div class="contact__input">
                <div class="input-login">
                    <input class="login__item" type="text" placeholder="First Name*">
                    <input class="login__item" type="email" placeholder="Email*">
                    <input class="login__item" type="text" placeholder="Last Name*">
                    <input class="login__item" type="tel" placeholder="Phone">
                </div>
                <div class="input-msg">
                    <textarea class="msg__textarea" placeholder="Type your message here"></textarea>
                </div>
                <div class="input-submit">
                    <a class="submit__link" href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <span class="footer__text">&copy;All Rights Reserved</span>
    </footer>
    <script src="../js/main.js"></script>
</body>

</html>