<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <header class="header">
        <div class="wrap">
            <div class="header-logo">
                <img src="../images/logo.png" alt="logo" class="logo__image">
            </div>
            <ul class="nav">
                <li class="nav__items">
                    <a class="nav-items__link" href="#">home</a>
                </li>
                <li class="nav__items">
                    <div class="dropdown">
                        <a class="nav-items__link" href="#">blog</a>
                        <div class="dropdown-content">
                            <a href="#">menu</a>
                            <a href="#">menu</a>
                            <a href="#">menu</a>
                            <a href="#">menu</a>
                        </div>
                    </div>
                </li>
                <li class="nav__items">
                    <div class="dropdown">
                        <a class="nav-items__link" href="#">about</a>
                        <div class="dropdown-content">
                            <a href="#">menu</a>
                            <a href="#">menu</a>
                            <a href="#">menu</a>
                            <a href="#">menu</a>
                        </div>
                    </div>
                </li>
                <li class="nav__items">
                    <a class="nav-items__link" href="#">contact</a>
                </li>
            </ul>
            <div class="search">
                <input type="text" class="search__input">
                <a href="#" class="search__button"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </header>
    <section class="section section__head">
        <div class="wrap">
            <h1 class="header__h1">blog</h1>
        </div>
    </section>
    <section class="main">
        <div class="main-wrap">
            <div class="main-wrap__wrapPost">
                <h3 class="wrapPost__date">28.03.2019</h3>
                <img src="../images/2.jpg" alt="post image" class="wrapPost__img">
                <h2 class="wrapPost__title">Connexion-Example of Business Blog</h2>
                <h6 class="wrapPost__author">BY DAVID HYMAN / 340 VIEWS</h6>
                <p class="wrapPost__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum sed, mollitia a laboriosam modi sequi minima iusto molestias dicta?</p>
            </div>
            <aside class="main-aside">
                <div class="aside__search">
                    <label>search</label>
                    <input type="text" placeholder="Enter your keyword">
                </div>
                <div class="populars">
                    <h3 class="sidebar__title">Populars</h3>
                    <ul class="populars__list">
                        <li class="popular__item">
                            <a href="#" class="popular__link">Management</a>
                        </li>
                        <li class="popular__item">
                            <a href="#" class="popular__link">SEO</a>
                        </li>
                        <li class="popular__item">
                            <a href="#" class="popular__link">Advisory Board</a>
                        </li>
                        <li class="popular__item">
                            <a href="#" class="popular__link">Soft Skills</a>
                        </li>
                        <li class="popular__item">
                            <a href="#" class="popular__link">Blogging</a>
                        </li>
                        <li class="popular__item">
                            <a href="#" class="popular__link">Copywriting</a>
                        </li>
                    </ul>
                </div>
                <div class="recent-posts">
                    <h3 class="sidebar__title">Recent Posts</h3>

                </div>
                <div class="sidebar-categories">
                    <h3 class="sidebar__title">Categories</h3>
                    <ul class="sidebar-categories__list">
                        <li class="sidebar-categories__item">
                            <a href="#" class="sidebar-categories__link">The Lorem Ipsum (16)</a>
                        </li>
                        <li class="sidebar-categories__item">
                            <a href="#" class="sidebar-categories__link">The Lorem Ipsum (8)</a>
                        </li>
                        <li class="sidebar-categories__item">
                            <a href="#" class="sidebar-categories__link">The Lorem Ipsum</a>
                        </li>
                        <li class="sidebar-categories__item">
                            <a href="#" class="sidebar-categories__link">The Lorem Ipsum</a>
                        </li>
                        <li class="sidebar-categories__item">
                            <a href="#" class="sidebar-categories__link">The Lorem Ipsum</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </section>
    <section class="contact">

    </section>
    <footer>

    </footer>
</body>

</html>