@import 'mixins';
@import 'variables';
body,
html {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather Sans', sans-serif;
}

.section {
    width: 100%;
    @include displayFlex(column);
}

.wrap {
    width: 1170px;
}

.header {
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    .navbar {
        width: 100%;
    }
}

.dropdown-content {
    display: none;
}

.section__head {
    height: 400px;
    margin-bottom: 40px;
    background-image: url(../images/1.png);
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    @include displayFlex(column);
    justify-content: center;
    align-items: center;
    .wrap {
        @include displayFlex(column);
        justify-content: flex-start;
    }
}

// main section
.main {
    @include displayFlex(column);
    align-items: center;
    .wrap {
        @include displayFlex(row);
        justify-content: space-between;
        .post-section {
            .pagination {
                display: flex;
                justify-content: center;
            }
        }
        .wrap__post {
            width: 760px;
            @include displayFlex(column);
            margin-bottom: 30px;
            .post__date {
                color: #4C7DBA;
                font-size: 20px;
                margin-bottom: 10px;
            }
            .post__img {
                margin-bottom: 20px;
                width: 100%;
                height: auto;
            }
            .post__title {
                font-size: 24px;
                margin-bottom: 5px;
                text-decoration: none;
                color: $primaryColor;
            }
            .post__author {
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: 20px;
                .author__link {
                    text-decoration: none;
                    color: $primaryColor;
                }
            }
            .post__text {
                margin: 0;
                font-size: 16px;
            }
        } // wrap__post end
        //sidebar start
        .main-aside {
            width: 360px;
            @include displayFlex(column);
            .aside__title {
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 10px;
                margin-right: 50%;
                border-bottom: 2px solid #4C7DBA;
            }
            .aside__search {
                width: 100%;
                margin: 34px 0 40px;
                @include displayFlex(column);
                background-color: #ededed;
                padding: 18px 20px;
                label {
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                .input-box {
                    @include displayFlex(row);
                    input {
                        width: 90%;
                        border: none;
                        outline: none;
                    }
                    .input-box__button {
                        background: #fff;
                        margin: 0;
                        margin: 0;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            } // aside__search end
            .populars {
                width: 100%;
                margin-bottom: 30px;
                .populars__list {
                    width: 100%;
                    padding: 0;
                    @include displayFlex(row);
                    flex-wrap: wrap;
                    list-style: none;
                    .popular__item {
                        display: flex;
                        margin-right: 10px;
                        margin-bottom: 20px;
                        .popular__button {
                            text-transform: capitalize;
                            border: none;
                            outline: none;
                            padding: 10px;
                            background: #ededed;
                            text-decoration: none;
                            color: $secondaryColor;
                            font-weight: bold;
                        } //popular__link end
                    } //popular__item end
                } //popular__list end
            } // populars end
            .recent-posts {
                width: 100%;
                margin-bottom: 30px;
                @include displayFlex(column);
                .recent__post {
                    @include displayFlex(column);
                    margin-bottom: 20px;
                    .post__title {
                        color: $secondaryColor;
                        margin: 10px 0;
                    }
                    .recent-post__content {
                        @include displayFlex(row);
                        justify-content: space-between;
                        .recent-post__image {
                            width: 100px;
                            height: 100px;
                        }
                        .recent-post__text {
                            margin: 0;
                            width: 250px;
                        } // recent-post__text end
                    } //recent-post__content end
                } // recent__post end
            } // recent-posts end
            .aside-categories {
                @include displayFlex(column);
                .aside-categories__list {
                    @include displayFlex(column);
                    list-style: none;
                    padding: 0;
                    //line-height: 30px;
                    .aside-categories__item {
                        border-bottom: 1px solid #686666;
                        margin: 10px 0;
                        padding-bottom: 5px;
                    }
                    .aside-categories__link {
                        text-decoration: none;
                        color: #000;
                        font-weight: bold;
                    }
                    .aside-categories__link:hover {
                        color: #4C7DBA;
                    }
                }
            }
        } // main-aside end
    } // wrap end
} // main end
.contact {
    height: 600px;
    @include displayFlex(column);
    justify-content: center;
    align-items: center;
    background-color: #0055a6;
    .wrap {
        width: 1170px;
        @include displayFlex(column);
        .contact__text {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            color: #fff;
        }
        .contact__input {
            width: 100%;
            @include displayFlex(column);
            justify-content: center;
            align-items: center;
            .input-login {
                width: 80%;
                @include displayFlex(row);
                justify-content: space-between;
                flex-wrap: wrap;
                .login__item {
                    width: 49.5%;
                    margin-bottom: 10px;
                } // login__item end
            } // input-login end
            .input-msg {
                width: 80%;
                margin-bottom: 10px;
                .msg__textarea {
                    width: 100%;
                    height: 200px;
                }
            } //input-msg end
            .input-submit {
                .submit__link {
                    padding: 10px 20px;
                    background-color: #ededed;
                    color: #000;
                } //.submit__link end
                .submit__link:hover {
                    background-color: rgb(56, 56, 56);
                    text-decoration: none;
                }
            } // input-submit end
        } // contact-input
    }
} //.contact end
.footer {
    height: 100px;
    background-color: #101624;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__text {
        font-weight: bold;
        color: #ededed;
    }
}